<!DOCTYPE html>
<html>

<head>
    <title>BCG Picker</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <!-- LEFT: IMAGE -->
    <div class="left-panel">
        <div id="image-wrapper">
            <img id="galaxy"
                src="/images/{{ galaxy.image }}"
                draggable="false">
            <div id="marker"></div>
        </div>
    </div>

    <!-- RIGHT: CONTROL PANEL -->
    <div class="right-panel">
        <h2>{{ galaxy.cluster }}</h2>

        <p>
            Galaxy {{ index+1 }} / {{ total }} <br>
            z = {{ galaxy.redshift }}
        </p>

        <button id="zoom-reset">Zoom 1</button>

        <div id="progress">
            <progress id="progress-bar" value="0" max="100"></progress>
            <div id="progress-text">Loading...</div>
        </div>

        <div id="info">
            X: <span id="x">-</span><br>
            Y: <span id="y">-</span><br>
            RA: <span id="ra">-</span><br>
            Dec: <span id="dec">-</span>
        </div>

        <button id="save">Save</button>
        <button id="download-results">Download Results CSV</button>
        <span id="status"></span>

        <div class="navigation">
            {% if index > 0 %}
            <a href="{{ url_for('index', index=index-1) }}">← Previous</a>
            {% endif %}

            <span>{{ index + 1 }} / {{ total }}</span>

            {% if index < total-1 %}
            <a href="{{ url_for('index', index=index+1) }}">Next →</a>
            {% endif %}
        </div>

        <div id="shortcuts">
            <h3>Controls</h3>

            <ul>
                <li><b>Click image</b> → Create marker</li>
                <li><b>S</b> → Save Coordinates to file</li>
                <li><b>N</b> → Skip/Unsure</li>
                <li><b>← / →</b> → Previous / Next cluster</li>
                <li><b>1</b> → Reset Zoom</li>
                <li><b>Mouse wheel</b> → Zoom in/out</li>
            </ul>
        </div>

        <div id="upload">
            <h3>Load Custom Catalog</h3>
            <input type="file" id="catalog-file" accept=".csv">
            <button id="upload-btn">Upload</button>
            <div id="upload-status"></div>
        </div>

        <button id="reset-catalog">Use Full Catalog</button>

    </div>

</div>

<script>
const cluster = "{{ galaxy.cluster }}";
const image = "{{ galaxy.image }}";

const ra0 = {{ galaxy.ra }};
const dec0 = {{ galaxy.dec }};
const pixscale = {{ galaxy.pixscale }};

const currentIndex = {{ index }};
const total = {{ total }};
</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
