<!DOCTYPE html>
<html>

<head>
    <title>BCG Picker</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>BCG Picker: {{ galaxy.cluster }}</h2>

<div class="layout">

    <!-- LEFT: IMAGE -->
    <div class="left-panel">

        <div id="image-container">
            <img id="galaxy"
                 src="/images/{{ galaxy.image }}"
                 draggable="false">

            <div id="marker"></div>
        </div>

    </div>

    <!-- RIGHT: CONTROLS -->
    <div class="right-panel">

        <p>
            Galaxy {{ index+1 }} / {{ total }} <br>
            z = {{ galaxy.redshift }}
        </p>

        <div id="progress">
            Progress: <span id="progress-text">Loading...</span>
        </div>

        <div id="info">
            X: <span id="x">-</span><br>
            Y: <span id="y">-</span><br>
            RA: <span id="ra">-</span><br>
            Dec: <span id="dec">-</span>
        </div>

        <button id="save">Save</button>
        <span id="status"></span>

        <div class="navigation">
            {% if index > 0 %}
            <a href="{{ url_for('index', index=index-1) }}">← Previous</a>
            {% endif %}

            <span>{{ index + 1 }} / {{ total }}</span>

            {% if index < total-1 %}
            <a href="{{ url_for('index', index=index+1) }}">Next →</a>
            {% endif %}
        </div>

    </div>

</div>

<script>
const cluster = "{{ galaxy.cluster }}";
const image = "{{ galaxy.image }}";

const ra0 = {{ galaxy.ra }};
const dec0 = {{ galaxy.dec }};
const pixscale = {{ galaxy.pixscale }};

const currentIndex = {{ index }};
const total = {{ total }};
</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>